/* Variables */
:root {
  --main-clr: #5b23ff;
  --secondary-clr: #362f4f;
  --tier-clr: #008bff;
  --accent: #e4ff30;
  --site-bg: #eee;
  --valid-field-clr: #29f53a;
  --invalid-field-clr: #ed4331;
  --sec-margin-block: 1.5rem;
  --btn-padding: 1rem;
  --main-radius: 0.625rem;
  --btn-font-sz: 0.875rem;
  --container-padding-main: 1.25rem;
  --header-height: 10vh;
  /* --title-font-sz: clamp(2.5rem, 2rem, 1.5rem); */
  --transition-dur: 0.3s;
}

/* Fonts */
@font-face {
  font-family: "Cal sans";
  src: url("../Fonts/Cal\ Sans/CalSans-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../Fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

/* Reinitializations */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a,
button {
  all: unset;
  cursor: pointer;
  transition: var(--transition-dur);
}

button {
  color: white;
  padding: 0.825rem 1rem;
  border-radius: var(--main-radius);
  font-weight: bold;
  font-size: var(--btn-font-sz);
}

button.btn-main {
  background-color: var(--main-clr);
}

button:hover {
  filter: saturate(2);
  padding: 1rem 1.5rem;
}

p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cal sans", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-block: 0.5rem;
}

/* Global classes */
.container {
  max-width: 90%;
  margin: 0.75rem auto;
  padding: 0 var(--container-padding-main);
}

.hammenu-in-animation {
  transform: scaleY(1);
}

.hammenu-out-animation {
  transform: scaleY(0);
}

/* ========================================== Header ========================================== */
header {
  min-height: var(--header-height);
}

header .header-main h1 {
  color: var(--main-clr);
}

header .header-main,
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  gap: 1.5rem;
}

nav ul li a:hover {
  color: var(--tier-clr);
}

.ham-menu {
  display: none;
}

@media (max-width: 801px) {
  header .cta-head-btn {
    display: none;
  }

  .ham-menu {
    cursor: pointer;
    display: block;
  }

  .ham-menu span {
    display: block;
    height: 4px;
    background-color: var(--secondary-clr);
    width: 40px;
    margin: 0.325rem 0;
    border-radius: var(--main-radius);
    position: relative;
  }

  nav ul.desktop {
    display: none;
  }

  nav .ham-menu ul {
    position: absolute;
    bottom: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    background-color: var(--main-clr);
    color: white;
    width: 100%;
    height: calc(100% - var(--header-height));
    transform-origin: top center;
    transition: var(--transition-dur);
    z-index: 999;
  }

  nav ul li {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
  }

  nav ul li a:hover {
    border-bottom: 5px solid white;
    color: white;
  }
}

/* ========================================== Hero ========================================== */
.hero {
  margin: var(--sec-margin-block) 0;
}

.hero-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
}

.hero-main .text-col p {
  margin: 1.5rem 0;
  text-align: justify;
}

.hero-main .img-col img {
  transform: scale(1.2);
  animation: float alternate infinite 2s ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media (max-width: 801px) {
  .hero-main {
    gap: 2rem;
  }
  .hero-main .text-col,
  .hero-main .text-col p {
    text-align: center;
  }
}
